video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

.login-container{
    top: 30%;
    width: 90%;
    position: absolute;
    margin-left: 3em;
    display: flex;
}

#sign-in-button{
    background: white;
    color: black;
    font-size: 18px;
    margin-top: 2em;
    padding: 15px 32px;
    font-family: "Open Sans";
    border: none;
}

#partition{
    margin-right:4em;
    margin-left:4em;
    width: 5px;
    background: white;
}
.login-container-left{
    width: 100%;
    text-align: center;
}

.login-container-right{
    text-align: center;
    width: 100%;
    color: white;
    font-family: "Open Sans";
}

form{
    width: 100%;  
    color: white;
    font-family: "Open Sans";
    font-size: 1.5em;
}

#txtusername{
    width: 10em;;
    margin: .5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    
}
#txtpassword{
    width: 10em;;
    margin: .5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#loginbtn{
    margin-top: .5em;
    background: transparent;
    border: 1px solid white;
    padding-left: 3em;
    padding-right: 3em;
}

.logo{
    width: 100%;
    color: white;
    font-size: 5em;
    font-family: "Pacifico"
}

