video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

.login-container{
    margin-top: 20%;
    text-align: center;
    display: flex;
}


#partition{
    margin-right:4em;
    margin-left:4em;
    width: 5px;
    background: white;
}
.login-container-left{
    width: 100%;
    text-align: center;
}

.login-container-right{
    margin-top: 2em;
    text-align: center;
    width: 100%;
    color: white;
    font-family: "Open Sans";
}

.login-container-right a:link{
    color:white;
}


.login-container-right a:hover{
    color: gold;
    text-decoration: none;
}
form{
    width: 100%;  
    color: white;
    font-family: "Open Sans";
    font-size: 1.5em;
}

#txtusername{
    width: 10em;;
    margin: .5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    
}
#txtpassword{
    width: 10em;;
    margin: .5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#loginbtn{
    margin-top: .5em;
    background: transparent;
    border: 1px solid white;
    padding-left: 3em;
    padding-right: 3em;
}

.logo{
    width: 100%;
    color: white;
    font-size: 5em;
    font-family: "Pacifico"
}

.reg-container{
    height: 90%;
    margin: 1em 2em;
}
.reg-content{
    width:100%;
    text-align: center;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.4);
}
.reg-content h1{
    color: white;
    font-family: "Pacifico";
    text-align: left;
}

.reg-container #firstName{
    width: 40%;
    margin: .8em;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.reg-container #lastName{
    width: 40%;
    margin: .8em;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}


.reg-container #email{
    width: 50%;
    margin: .8em;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.reg-container #password{
    width: 50%;
    margin: .8em;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.reg-container #reg-submit{
    width: 40%;
    margin: .8em;
    background: white;
    border: 1px solid white;
    color: black;
    
}

#reg-back-btn{
    background: transparent;
    color: white;
    font-size: 2em;
    align-content: left;
    border: none;
}