video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

form{
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;   
    color: white;
    font-family: "Open Sans";
    font-size: 1.5em;
}

#txtusername{
    width: 10em;;
    margin: .5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    
}
#txtpassword{
    width: 10em;;
    margin: .5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#loginbtn{
    margin-top: .5em;
    background: transparent;
    border: 1px solid white;
    padding-left: 3em;
    padding-right: 3em;
}

.logo{
    width: 100%;
    position: absolute;
    top: 30%;
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: "Pacifico"
}

